@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>An error has occurred</h1>
<h2>
    Please contact the web master for further details or come back at a later time
</h2>