@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>LeasIt</h1>
    <p class="lead">A Leasing devoted to make your life the best.</p>
    <p class="lead">Created in 2016, LeasIt revolutionized Leasing branch and transportation with highly sophisticated self-driving rental cars, providing for your everyday needs. Carpool to work, a ride to the soccer practice and ofcourse a private trip weekend. </p>
    <p class="lead">You name it. We lease it</p>
</div>
<div class="row">
    <div class="col-xs-4">
        <h2>Catch a ride!</h2>
        <p>Browse our car catalog (don't worry, there are pictures!)</p>
        <p><a class="btn" href="/Lease/Search">Browse &raquo;</a></p>
    </div>
    <div class="col-xs-4">
        <h2>Admin much?</h2>
        <p>Temporary SuperPowers!</p>
        <p><a class="btn" href="/Management/Management">Learn more &raquo;</a></p>
    </div>
    <div class="col-xs-4">
        <h2>End of ride?</h2>
        <p>Send back your car with these easy steps</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>