@{
    ViewBag.Title = "Rental Cost";
}
<div class="hero-unit">
    <h2>Cost calculator</h2>
    <p class="lead">Enter your desired date to get the lease on:</p>
    <input type="date" name="DateStart" value="" />
    <p class="lead">Enter number of days for your lease</p>
    <input type="number" name="LeaseDaysNum" value="">
    <input type="button" name="submit" value="" onclick="CalculateCost(DateStart,LeaseDaysNum)"/>
</div>

