@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6">
    <a href="/management/customers" class="nav-header">Customers<small><br/>manage your customers</small></a>
</div>

<div class="col-xs-6">
    <a href="/management/cars" class="nav-header">Cars<small><br />manage your cars</small></a>
    </div>
    <div class="col-xs-6">
        <a href="/management/cartypes" class="nav-header">Car Types<small><br />manage your car types</small></a>
</div>
        <div class="col-xs-6">
            <a href="/management/orders" class="nav-header">Orders<small><br />manage your orders</small></a>
</div>
